.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

#form textarea {
  border: none;
  resize: none;
  border-bottom: 2px black solid;
  background-color:  #f4f1ec;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
}

#error-message {
  color: red;
  text-align: center;
  margin: 0;
}

#button {
  background-color:#4056A1;
  color: #ffffff;
  font-family: "Bungee";
}
#counter {
  float: right;
  font-weight: bold;
}

.fontRed {
  color: red;
}

/*
TWEETS DISPLAY STYLING"
*/
#tweets-container {
  display: flex;
  flex-direction: column;
  background-color:  #f4f1ec;
  width: 100%;
}

#tweet-article {
  border: 2px solid black;
  margin-bottom: 30px;
  width: 100%;
}

#tweet-header {
  flex-direction: row;
  background-color: #f4f1ec;
  height: 50px;
  padding: 5px;
  align-items: flex-start;
  justify-content: flex-start;
}

#tweet-header.logo {
order: 1;
}

.name {
  order: 2;
  margin: 0;
  margin-left: 10px;
}

.style-name {
  order: 3;
  margin-right: 10px;
  margin-left: auto;
}

article > div {
  width: 100%;
  padding: 30px 15px;
}

article > footer {
  height: 35px;
  padding: 10px;
  font-size: 0.5em;
  border-top: 1px solid black;
}

.options {
  float: right;
  display: none;
  color: blue;
}

.options span {
  padding: 3px;
}

#tweet-article:hover {
  box-shadow:10px 10px gray;
}

#tweet-article:hover .options {
  display: inline;
}



